<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_macosx10.11</string>
			<key>LibName</key>
			<string>OS X</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>CircularTextMac.xcodeproj</string>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-fobjc-arc</string>
				<string>-fmodules</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-09-16T15:53:47Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>macosx10.11</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGe3xYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QIQcIERIXHB0iJyguLzVCQ0RFRkdI
			SU1SV1hcXWlqa25yd1UkbnVsbNQJCgsMDQ4PEFZvYmplY3RUbmFt
			ZVphdHRyaWJ1dGVzViRjbGFzc4ADgAKAIIAfUNITDBQWWk5TLm9i
			amVjdHOhFYAEgB3UCQoLDBgZGhCABoAFgB6AH18QD0NpcmN1bGFy
			VGV4dE1hY9ITDB4Woh8ggAeAFoAd1AkKCwwjJCUmgAmACIAMgBVd
			QXBwRGVsZWdhdGUuaNMpDCorLC1XTlMuYmFzZVtOUy5yZWxhdGl2
			ZYAAgAuACl8Qd2ZpbGU6Ly8vVm9sdW1lcy9CcnVtZS9DZWxlZGV2
			JTIwQ29kZUZsb3cvQ29kZUZsb3clMjBTYW1wbGUlMjBBcHBsaWNh
			dGlvbnMvQ2lyY3VsYXJUZXh0TWFjL0NpcmN1bGFyVGV4dE1hYy9B
			cHBEZWxlZ2F0ZS5o0jAxMjNaJGNsYXNzbmFtZVgkY2xhc3Nlc1VO
			U1VSTKIyNFhOU09iamVjdNM2Eww3PEFXTlMua2V5c6Q4OTo7gA2A
			DoAPgBCkPT4+QIARgBKAEoATgBRfEBJnZW5lcmF0aW9uRmlsZURh
			dGVfEBRnZW5lcmF0aW9uRGlkU3VjY2VlZFhzZWxlY3RlZF8QF2dl
			bmVyYXRpb25MdWFNb2R1a2VQYXRoI0G7psC/AAAACVtBcHBEZWxl
			Z2F0ZdIwMUpLXxATTlNNdXRhYmxlRGljdGlvbmFyeaNKTDRcTlNE
			aWN0aW9uYXJ50jAxTk9cQ0RGTE5hbWVkVXJso1BRNFxDREZMTmFt
			ZWRVcmxdQ0RGTE5hbWVkSXRlbdQJCgsMU1RVJoAYgBeAGoAVXxAQ
			Vmlld0NvbnRyb2xsZXIuaNMpDCorLFuAAIALgBlfEHpmaWxlOi8v
			L1ZvbHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVGbG93L0NvZGVG
			bG93JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL0NpcmN1bGFyVGV4
			dE1hYy9DaXJjdWxhclRleHRNYWMvVmlld0NvbnRyb2xsZXIuaNM2
			EwxeY0GkODk6O4ANgA6AD4AQpGQ+PmeAG4ASgBKAHIAUI0G7psC/
			AAAAXlZpZXdDb250cm9sbGVy0jAxbG1XTlNBcnJheaJsNNM2Ewxv
			cEGgoIAU0jAxc3ReQ0RGTE5hbWVkR3JvdXCjdXY0XkNERkxOYW1l
			ZEdyb3VwXUNERkxOYW1lZEl0ZW3TNhMMeHlBoKCAFF8QD05TS2V5
			ZWRBcmNoaXZlctF9flRyb290gAEACAARABoAIwAtADIANwBbAGEA
			agBxAHYAgQCIAIoAjACOAJAAkQCWAKEAowClAKcAsACyALQAtgC4
			AMoAzwDSANQA1gDYAOEA4wDlAOcA6QD3AP4BBgESARQBFgEYAZIB
			lwGiAasBsQG0Ab0BxAHMAdEB0wHVAdcB2QHeAeAB4gHkAeYB6AH9
			AhQCHQI3AkACQQJNAlICaAJsAnkCfgKLAo8CnAKqArMCtQK3ArkC
			uwLOAtUC1wLZAtsDWANfA2QDZgNoA2oDbANxA3MDdQN3A3kDewOE
			A5MDmAOgA6MDqgOrA6wDrgOzA8IDxgPVA+MD6gPrA+wD7gQABAME
			CAAAAAAAAAIBAAAAAAAAAH8AAAAAAAAAAAAAAAAAAAQK
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>10.10</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>CircularTextMac</string>
				<key>targetSdk</key>
				<string>macosx</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>CircularTextMac.xcodeproj</string>
			<key>target</key>
			<string>CircularTextMac</string>
			<key>targetSdk</key>
			<string>macosx</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>ViewController</string>
		<key>LuaAppWindow frame</key>
		<string>35 523 977 602 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ViewController</string>
			<string>TextView</string>
			<string>TextLine</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>macosx</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>CircularTextViewController</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>TextLine</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>456665354.13023001</real>
		</dict>
		<key>TextView</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>464103991.51221001</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1830</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1086</integer>
				<key>SrcEditor Visible Location</key>
				<integer>1451</integer>
			</dict>
		</dict>
		<key>ViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>464103449.45573401</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>685</integer>
				<key>SrcEditor Visible Length</key>
				<integer>771</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
