<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_macosx10.11</string>
			<key>LibName</key>
			<string>OS X</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>CircularTextMac.xcodeproj</string>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-fobjc-arc</string>
				<string>-fmodules</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-09-29T10:26:34Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>macosx10.11</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGdHVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QIAcIERIXHB0iJyguLzU8PT5CR0xN
			UVJeX2BhYmNkZ2twVSRudWxs1AkKCwwNDg8QVm9iamVjdFRuYW1l
			WmF0dHJpYnV0ZXNWJGNsYXNzgAOAAoAfgB5Q0hMMFBZaTlMub2Jq
			ZWN0c6EVgASAHNQJCgsMGBkaEIAGgAWAHYAeXxAPQ2lyY3VsYXJU
			ZXh0TWFj0hMMHhaiHyCAB4ARgBzUCQoLDCMkJSaACYAIgAyAEF1B
			cHBEZWxlZ2F0ZS5o0ykMKissLVdOUy5iYXNlW05TLnJlbGF0aXZl
			gACAC4AKXxB3ZmlsZTovLy9Wb2x1bWVzL0JydW1lL0NlbGVkZXYl
			MjBDb2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFwcGxpY2F0
			aW9ucy9DaXJjdWxhclRleHRNYWMvQ2lyY3VsYXJUZXh0TWFjL0Fw
			cERlbGVnYXRlLmjSMDEyM1okY2xhc3NuYW1lWCRjbGFzc2VzVU5T
			VVJMojI0WE5TT2JqZWN00zYTDDc5O1dOUy5rZXlzoTiADaE6gA6A
			D1hzZWxlY3RlZAjSMDE/QF8QE05TTXV0YWJsZURpY3Rpb25hcnmj
			P0E0XE5TRGljdGlvbmFyedIwMUNEXENERkxOYW1lZFVybKNFRjRc
			Q0RGTE5hbWVkVXJsXUNERkxOYW1lZEl0ZW3UCQoLDEhJSiaAE4AS
			gBWAEF8QEFZpZXdDb250cm9sbGVyLmjTKQwqKyxQgACAC4AUXxB6
			ZmlsZTovLy9Wb2x1bWVzL0JydW1lL0NlbGVkZXYlMjBDb2RlRmxv
			dy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFwcGxpY2F0aW9ucy9DaXJj
			dWxhclRleHRNYWMvQ2lyY3VsYXJUZXh0TWFjL1ZpZXdDb250cm9s
			bGVyLmjTNhMMU1g7pFRVOFeAFoAXgA2AGKRZWlpcgBmAGoAagBuA
			D18QEmdlbmVyYXRpb25GaWxlRGF0ZV8QFGdlbmVyYXRpb25EaWRT
			dWNjZWVkXxAXZ2VuZXJhdGlvbkx1YU1vZHVrZVBhdGgjQbumwL8A
			AAAJXlZpZXdDb250cm9sbGVy0jAxZWZXTlNBcnJheaJlNNM2Ewxo
			aTugoIAP0jAxbG1eQ0RGTE5hbWVkR3JvdXCjbm80XkNERkxOYW1l
			ZEdyb3VwXUNERkxOYW1lZEl0ZW3TNhMMcXI7oKCAD18QD05TS2V5
			ZWRBcmNoaXZlctF2d1Ryb290gAEACAARABoAIwAtADIANwBaAGAA
			aQBwAHUAgACHAIkAiwCNAI8AkACVAKAAogCkAKYArwCxALMAtQC3
			AMkAzgDRANMA1QDXAOAA4gDkAOYA6AD2AP0BBQERARMBFQEXAZEB
			lgGhAaoBsAGzAbwBwwHLAc0BzwHRAdMB1QHeAd8B5AH6Af4CCwIQ
			Ah0CIQIuAjwCRQJHAkkCSwJNAmACZwJpAmsCbQLqAvEC9gL4AvoC
			/AL+AwMDBQMHAwkDCwMNAyIDOQNTA1wDXQNsA3EDeQN8A4MDhAOF
			A4cDjAObA58DrgO8A8MDxAPFA8cD2QPcA+EAAAAAAAACAQAAAAAA
			AAB4AAAAAAAAAAAAAAAAAAAD4w==
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>10.10</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>CircularTextMac</string>
				<key>targetSdk</key>
				<string>macosx</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>CircularTextMac.xcodeproj</string>
			<key>target</key>
			<string>CircularTextMac</string>
			<key>targetSdk</key>
			<string>macosx</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>ViewController</string>
		<key>LuaAppWindow frame</key>
		<string>790 599 1197 736 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ViewController</string>
			<string>TextView</string>
			<string>TextLine</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>macosx</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>CircularTextViewController</string>
			<key>SourceItemChangeTime</key>
			<real>465208379.361637</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>TextLine</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>456665354.13023001</real>
		</dict>
		<key>TextView</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>464103991.51221001</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>1830</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1505</integer>
				<key>SrcEditor Visible Location</key>
				<integer>1341</integer>
			</dict>
		</dict>
		<key>ViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>465232063.11368102</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>582</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1338</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
